
body {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    background-color: #777;
    padding: 40px;
    text-align: center;
    
}

    .wrapper {
        width: 960px;
        padding: 0px;
        margin: 0 auto;
    }
   

    .clearfix {
        overflow: auto;
    }

    .header {
        width: 960px;
         margin-bottom: 10px;
         background: #ebebeb;
         color: #777;
         padding: 40px;
          }

    .nav    {
        position: absolute;
        width: 960px;
         margin-bottom: 20px;
         background: #ebebeb;
         color: #777;
         padding: 40px;
          }


    .section    {
        position: relative;
        top: 100px;
        right: 50px;
         width: 495px;
         margin: 50px;
         padding: 40px;
         float: left;
         background: #ebebeb;
         color: #777;
         }

    .article    {
         position: relative;
         right: 25px;
         width: 495px;
         margin: 0;
         background: #777;
         color: #ebebeb;
         padding: 25px;
          }

    .header2    {
         margin-bottom: 5px;
         background: #ebebeb;
         font-weight: bold;
         color: #777;
         padding: 10px;
          }

    .p     {
         top: 0;
         left: 0;
         margin: 0;
         background: #ebebeb;
         color: #777;
         padding: 10px;
          }

    .aside    {
        position: relative;
        right: 100px;
        top: 250px;
         float: right;
         padding: 500px;
         margin: 0;
         background: #ebebeb;
         color: #777;
         padding: 40px;
          }

    .footer    {
         position: relative;
         top: 250px;
         width: 960px;
         margin: 0 auto;
         background: #ebebeb;
         color: #777;
         padding: 40px;
          }
          
    /* .middle { */
        /* width:990px; */
    /* } */
